<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home Tracker</title>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<header>
			<div class="nav">
				<h1>Home Tracker</h1>
				<nav>
					<a href="/">Home</a>
					<a href="/users">Users</a>
				</nav>
			</div>
		</header>
		<main>
			<h2>Welcome to Home Tracker</h2>
			<p>Your ultimate tool for managing home maintenance and schedules.</p>
		</main>
	</body>
</html>
